* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url(../img/dvorec/main.jpg);
    background-size: 100%;
    position: relative;
    min-width: 1518px;
    min-height: 850px;
}

.src {
    width: 100%;
    margin-bottom: 70px;
}

.video {
    width: 72%;
    margin: 30px auto;
}

.video iframe {
    width: 450px;
    height: 250px;
}

.photo {
    width: 100%;
}

.para {
    width: 100%;
}

.photo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.photo .photo_descr {
    width: 40%;
}

.photo .photo_descr img {
    width: 100%;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.descr {
    width: 90%;
    font-size: 19px;
    color: white;
    background-color: rgb(157, 248, 244, 0.5);
    height: 500px;
    padding-top: 30px;
}

span {
    display: block;
    width: 80%;
    margin: 0 auto;
}

a {
    display: block;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 140px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}
