* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1)), url(../img/ratush/bg.jpg);
    background-size: 100%;
    position: relative;
    height: 800px;
    min-width: 1518px;
}

.src {
    width: 50%;
    margin-bottom: 70px;
}

.video {
    width: 50%;    
    margin: 30px auto;
}

.video iframe{
    width: 400px;
    height: 250px;
}

.photo {
    width: 100%;
}

.para {
    width: 100%;
}

.photo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo .photo_descr {
    width: 30%;
}

.photo .photo_descr img {
    width: 100%;
}

.content {
    position: relative;
}

.descr {
    width: 70%;
    position: absolute;
    top: -157px;
    right: -655px;
    font-size: 18px;
    color: white;
    background-color: rgb(157, 248, 244, 0.5);
}

span {
    display: block;
    width: 80%;
    margin: 0 auto;
}

a {
    display: block;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 168px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

